<div id="<%= dom_id article %>" class="card rounded-0 shadow-sm mb-5">
  <% if article.featured_image.attached? %>
    <%= image_tag article.featured_image %>
  <% end %>
  <div class="card-body">
  
    <h2 class="fs-4 fw-bold"><%= article.title %></h2>
    <div class="mb-3 d-flex justify-content-between">
      <div>
        <span class="badge bg-danger rounded-0"><%= article.category.name %></span>
      </div>
      <div>
        <span class="badge bg-primary rounded-0"><%= time_ago_in_words(article.created_at) %> ago</span>
      </div>
      <div>
        <span class="badge bg-primary rounded-0"><%= article.user.email %></span>
      </div>
      <div>
        <span class="badge bg-primary rounded-0"><%= article.comments.count %></span>
      </div>
    </div>

    <%= article.content %>
  </div>
</div>
