<div class="row justify-content-center">
  <div class="col-md-8">
    <div id="articles">
      <% @articles.each do |article| %>
        <div id="<%= dom_id article %>" class="card shadow-sm mb-5">
          <% if article.featured_image.attached? %>
            <%= image_tag article.featured_image.variant(:thumb) %>
          <% end %>
          <div class="card-body rounded-0">
            <h2 class="fs-4 fw-bold"><%= link_to article.title, article_path(article), class: 'text-decoration-none text-black' %></h2>

            <hr>
            
            <div class="d-flex justify-content-between">
              <div class="d-flex fs-6">
                <% if current_user && article.likes.find_by(user_id: current_user.id) %>
                  <%= button_to article_like_path(article, article.likes.find_by(user_id: current_user.id)), method: :delete, class: 'btn btn-sm btn-warning rounded-0' do %>
                    <i class="bi bi-hand-thumbs-down"></i>
                  <% end %>
                  <span class="btn btn-sm btn-success rounded-0"><%= article.likes.count %></span>
                <% else %>
                  <%= button_to article_likes_path(article), method: :post, class: 'btn btn-sm btn-primary rounded-0' do %>
                    <i class="bi bi-hand-thumbs-up"></i>
                  <% end %>
                  <span class="btn btn-sm btn-success rounded-0"><%= article.likes.count %></span>
                <% end %>
              </div>
              <div>
                <strong class="fs-6">Category:</strong> 
                <span class="badge bg-danger rounded-0"><%= article.category.name %></span>
              </div>
              <div>
                <strong class="fs-6">Published:</strong> 
                <span class="badge bg-primary rounded-0">
                  <%= article.created_at.strftime("%b %d, %Y") %>
                </span>
              </div>
              <div>
                <strong class="fs-6">Published By:</strong> 
                <span class="badge bg-primary rounded-0">
                  <%= article.user.email %>
                </span>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>