<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm">
  <div class="container">
    <%= link_to 'rorblog', root_path, class: 'navbar-brand' %>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav m-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link active' do  %>
            Home
            <span class="visually-hidden">(current)</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', categories_path, class: 'nav-link' %>
        </li>
      </ul>
      <div>
        <% if user_signed_in? %>
          <span class="badge bg-primary me-2 rounded-0 py-2"><%= current_user.email %></span>
          <span class="badge bg-primary me-2 rounded-0 py-2">Role: <%= current_user.role %></span>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: 'btn btn-sm btn-danger rounded-0' %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-sm btn-primary rounded-0' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-sm btn-success rounded-0' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>